$asset-dir: '../../../assets/';

@mixin font-face($family, $file, $types) {
  $filepath: $asset-dir + $file;

  @font-face {
    font-family: $family;

    @if (str-index($string: $types, $substring: 'woff2')) {
      src: url($filepath + '.woff2') format('woff2');
    }
    @if (str-index($string: $types, $substring: 'woff')) {
      src: url($filepath + '.woff') format('woff');
    }
    @if (str-index($string: $types, $substring: 'ttf')) {
      src: url($filepath + '.ttf') format('truetype');
    }
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
